$AD-width: 0px;
$AD-height: 40px;
$AD-float: left;
$AD-background: url(../images/未标题-1.jpg) 0px 0px no-repeat;
$buffer-height: 40px;
$buffer-width: 30px;
$buffer-display: none;
$buffer-float: left;
$buffer-background: url(../images/未标题-1.jpg) -175px 0px no-repeat;
$bufferIcon-height: 40px;
$bufferIcon-width: 40px;
$bufferIcon-float: left;
$bufferIcon-background: url(../images/未标题-1.jpg) -205px 0px no-repeat;
