body {
	font-size:14px;
	color:#555;
	background-color:#fff;
	font-family:"Avenir Next","Lantinghei SC";
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
}
.warp{
	width:100%;
	height:600px;
	position: absolute;
	top:50%;
	margin-top:-300px;
	overflow:hidden;
	-webkit-perspective:800px;
	-moz-perspective:800px;
	background-color:#333;
}
.photo{
	width:260px;
	height:320px;
	position: absolute;
	z-index:1;
	box-shadow:0 0 1px rgba(0,0,0,0.1);
	transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	left:50%;
	top:50%;
	margin-left:-130px;
	margin-top:-160px;
	/*transform: rotateY(30deg);
	-webkit-transform: rotateY(30deg);*/
}
.photo .side {
	width:100%;
	height:100%;
	background-color:#eee;
	position: absolute;
	top:0;
	right:0;
	padding:20px;
	box-sizing:border-box;	
}
.photo .side-front{}
.photo .side-front .image{
	width:100%;
	height:250px;
	line-height:250px;
	overflow:hidden;
}
.photo .side-front .image img{
	width:100%;
}
.photo .side-front .caption{
	text-align:center;
	font-size:16px;
	line-height:50px;
}

.photo .side-back {

}
.photo .side-back .desc {
	color:#666;
	font-size:14px;
	line-height:1.5em;
}

.photo_center{
	left:50%;
	top:50%;
	margin-left:-130px;
	margin-top:-160px;
	z-index:999;
}

.photo-wrap{
	position: absolute;
	width:100%;
	height:100%;
	-webkit-transform-style:preserve-3d;
	-webkit-transition:all 0.6s ease;
	-moz-transform-style:preserve-3d;
	-moz-transition:all 0.6s ease;
}


.photo-wrap .side-front{
	-webkit-transform:rotateY(0deg);
	-moz-transform:rotateY(0deg);
}
.photo-wrap .side-back {
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	/*在父级元素设置了-moz-transform-style:preserve-3d;时会有很好的rotateY(180deg)旋转效果*/
}
.photo-wrap .side{
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	/*当对象旋转90-180度的时候就会被影藏*/
}


.photo_front .photo-wrap{
	-webkit-transform:rotateY(0deg);
	-moz-transform:rotateY(0deg);
}
.photo_back .photo-wrap{
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
}


.nav {
	width:80%;
	height:30px;
	line-height:30px;
	position:absolute;
	left:10%;
	right:10%;
	bottom:20px;
	z-index:999;
	text-align:center;
}
.nav .i {
	width:30px;
	height:30px;
	display:inline-block;
	cursor:pointer;
	background-color:#aaa;
	text-align:center;
	margin:0 1px;
	border-radius:50%;
	-webkit-transform:scale(0.48);
	-moz-transform:scale(0.48);

	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
}

.nav .i_current{
-moz-transform:scale(1);
	-webkit-transform:scale(1);
	background:url(../images/icon1.png) center center no-repeat #aaa;
}
.nav .i_back{
	-webkit-transform:rotateY(-180deg);
	-moz-transform:rotateY(-180deg);
	background-color:#555;
	/*background:url(../images/icon2.png) center center no-repeat #555;*/
}
.photo-wrap{
	-webkit-transform-origin:0% 50%;
	-moz-transform-origin:0% 50%;
}
.photo_front .photo-wrap{
	-webkit-transform:translate(0px,0px) rotateY(0deg);
	-moz-transform:translate(0px,0px) rotateY(0deg);
}
.photo_back .photo-wrap{
	-webkit-transform:translate(260px,0px) rotateY(180deg);
	-moz-transform:translate(260px,0px) rotateY(180deg);

}












